:root {
  --Yellow: #f4d04e;
  --White: #ffffff;
  --Grey: #808080;
  --Black: #121212;
}

body {
  font-family: "Figtree", sans-serif;
  display: grid;
  height: 95vh;
  place-items: center;
  background-color: var(--Yellow);
}

/* main card */
main.card {
  border: 1px solid var(--Black);
  box-shadow: 10px 10px var(--Black);
  width: 340px;
  border-radius: 20px;
}

main.card:hover {
  box-shadow: 15px 15px var(--Black);
}

main.card img.card-img-top {
  padding: 20px;
  border-radius: 15px !important;
}

/* Card body */
p:nth-of-type(1) {
  font-weight: bold;
  background-color: var(--Yellow);
  width: fit-content;
  padding: 3px 5px;
  border-radius: 5px;
  margin-top: -10px;
}

h4,
p:nth-of-type(2) {
  font-weight: bold;
}

h4:hover {
  color: var(--Yellow);
  cursor: pointer;
}

p:nth-of-type(3) {
  color: var(--Grey);
}

main.card section {
  display: flex;
  align-items: center;
}

main.card section img {
  width: 40px;
  margin-right: 10px;
}

section h6 {
  font-weight: bold;
}
